<!DOCTYPE html>
<html lang="en" ng-app="myapp"> 
<head>
  <meta charset="utf-8">
  <title>LOGIN FORM</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular-resource.min.js"></script>
    <script src="/javascripts/controllers.js"> </script>
 </head>
<body>
     <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
     <div ng-view>
     </div>
</body>  
</html>  

   


    
   