
<div ng-controller="registercontroller">
<form name="register-form" method="post" action='' novalidate>
<div class="box">
<h1>Dashboard</h1>
<h4>Fullname:<input type="text" name="fullname" value="fullname" ng-model="fullname" required class="email" /></h4>

<h4>Email:<input type="text" name="username" value="username" ng-model="username" required class="email" /></h4>
  
<h4>Password:<input type="password" name="password" value="password" ng-model="password" required class="email" /></h4>

<a href="/login" id="btn2" ng-click="register()"> Sign Up</a>

</div> 
  
</form>

